@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Site.css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/Scripts/jquery.signalR-2.1.0.js")
    <script src="/signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/script.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/jquery.contextMenu.js")
    @Styles.Render("~/Content/jquery.contextMenu.css")

</head>
<body>
    @RenderBody()
</body>
</html>
